.table {
  border-collapse: collapse;
  font-size: 0.9em;
  th, td {
    padding: 10px 15px;
  }
  border-bottom: 5px solid #485461;
}

.loader {
  border: 16px solid #bdbdbd; 
  border-top: 16px solid #f5b042; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-self: center;
  margin: 40px;
}

@keyframes spin {
  0% {
     transform: rotate(0deg);
  }
  100% {
     transform: rotate(360deg); 
  }
}

.body tr {
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  &:nth-of-type(even) {
    background-color: #485461;
    background-image: linear-gradient(315deg, #f3f3f3 0%, #bdbdbd 74%);
  }
}

.head__topics {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  text-align: left;
  color: white;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .table {
    font-size: 1.5em;
  }
}

@media (min-width: 1280px) {
  .table {
    min-height: 0;
    font-size: 0.9em;
  }
  .company__id {
    width: 10%;
  }
  .company__name {
    width: 50%;
  }
  .company__city {
    width: 25%;
  }
  .company__totalIncome {
    width: 15%;
  }
}